@import "variables";

.card-header {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  overflow: hidden;

  .card-title-content {
    word-wrap: break-word;
    word-break: break-all;
    margin-right: auto;
  }
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  gap: 8px;
}

.card-footer {
  .comments-toggle {
    text-decoration: none;
    color: $primary-color;
  }

  .comments-list {
    margin: 16px 0px;
  }

  .comment-form {
    margin: 16px 0px;
    overflow: hidden;
    padding: 8px;

    .invalid-comment {
      color: #ff0000;
    }
  }
}
