<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Forum</a>
      <button
        class="navbar-toggler custom-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mainNav"
        aria-controls="mainNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="toggleIconAnimation()"
      >
        <div class="custom-hamburger-icon" [ngClass]="active ? 'active' : ''">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- General navs -->
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/board"
              >Board</a
            >
          </li>
          <!-- Guest navs -->
          <li class="nav-item" *ngIf="!loggedIn">
            <a class="nav-link" aria-current="page" routerLink="/login"
              >Login</a
            >
          </li>
          <li class="nav-item" *ngIf="!loggedIn">
            <a class="nav-link" aria-current="page" routerLink="/register"
              >Register</a
            >
          </li>
          <!-- User navs -->
          <li class="nav-item" *ngIf="loggedIn">
            <a class="nav-link" aria-current="page" routerLink="/profile"
              >My profile</a
            >
          </li>
          <li class="nav-item" *ngIf="loggedIn">
            <a class="nav-link" aria-current="page" routerLink="/add"
              >Add post</a
            >
          </li>
          <li class="nav-item" *ngIf="loggedIn">
            <a class="nav-link" aria-current="page" (click)="logout($event)"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main id="content-wrapper" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
